body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .link {
    display: block;
    margin-bottom: 20px;
    text-align: right;
    color: #0000EE;
    text-decoration: none;
  }
  
  .button {
    background-color: #D2B48C;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #c2a17c;
  }
  
  p {
    margin-top: 20px;
  }
  
  #signUpLink {
    color: #0000EE;
    text-decoration: none;
  }
  
  #signUpLink:hover {
    text-decoration: underline;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .signup-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .link {
    display: block;
    margin-bottom: 20px;
    text-align: right;
    color: #0000EE;
    text-decoration: none;
  }
  
  .button {
    background-color: #D2B48C;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #c2a17c;
  }
  
  p {
    margin-top: 20px;
  }
  
  #memberLink {
    color: #0000EE;
    text-decoration: none;
  }
  
  #memberLink:hover {
    text-decoration: underline;
  }
  
  .todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}